extends ../layout

block content
  .page-header
    h3 Sign in
  form(class='col s12', method='POST')
    .row
      .div(class='col s12')
    .row
      .div(class='input-field col s12')
        input(class='validate', type='email', name='email', id='email', placeholder='Email', autofocus, required)
        label(for='email') Enter your email
        input(type='hidden', name='_csrf', value=_csrf)
    .row
      .div(class='input-field col s12')
        input(class='validate', type='password', name='password', id='password', placeholder='Password', required)
        label(for='password') Enter your password
      label(style='float:right;')
        a(class='black-text' href='/forgot')
          b Forgot your password?
      button(type='submit' name='btn_login' class='col s2 btn waves-effect') Login