if messages.errors
  for error in messages.errors
    div(class='alert card-panel red lighten-4 red-text text-darken-4')
      b #{error.msg}
if messages.info
  for info in messages.info
    div(class='alert card-panel blue lighten-4 blue-text text-darken-4')
      b #{info.msg}
if messages.success
  for success in messages.success
    div(class='alert card-panel green lighten-4 green-text text-darken-4')
      b #{success.msg}
