footer.page-footer
  .container
    .row
      .div(class='col 6 s6')
        h5.white-text Light Survey
        p(class='grey-text text-lighten-4') Lightest survey tool made with Node.js,Pug,Express,MongoDB and ♥
  .footer-copyright
      .container © 2017 
          a( href='http://packs.services', target='_blank') PACKS
          | , Inc. All Rights Reserved