nav
  .nav-wrapper
    a(href='#!' class='brand-logo center') Feather Survey 
      img(class="responsive-img" src="/assets/img/NavBarLogo.png" style='height:3vh;top:5px;')
      ul(class="left hide-on-med-and-down")
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') Contact
        if user
          li(class=(title == 'Survey') ? 'active' : undefined)
            a(href='/surveys') Survey
            if user.userRole == 'Admin'
              li(class=(title == 'SurveyEditor') ? 'active' : undefined)
                a(href='/templates') Templates
              li(class=(title == 'Stats') ? 'active' : undefined)
                a(href='/status') Status
      ul(class="right hide-on-med-and-down")
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li
            a(class='dropdown-button' href='#!', data-activates='navdropdown')=user.profile.name || user.email || user.id
              i(class='material-icons right') arrow_drop_down
ul.dropdown-content(id='navdropdown')
  li
    a(href='/account') My Account
  li
    a(href='/surverfrom') New Survey
  li.divider
  li
    a(href='/logout') Logout
