extends ../layout

block content
  .page-header
    h3 Login to Survey
  form.form-horizontal(action='/surveys/'+surveyname+'/login', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-3
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Login