extends ../layout

block content
  .page-header
    h3 Add a new Survey
  form(class='surveyForm col s12', action='/survey/new', method='POST',id='surveyForm')
    .row
      .input-field(class='col s6')
        input(class='validate', type='text', name='name', id='name', placeholder='Name', autofocus,required)
        label(for='name') Survey Name
        input(type='hidden', name='_csrf', value=_csrf)
    .row
      .input-field(class='col s6')
        select(multiple, name='owners', id='owners',required)
          option(value='',disabled,selected) Choose your option
          if users
            each user in users
              option(value=user._id) #{user.email}
        label(for='category') Choose the owners
    .row
      .input-field(class='col s6')
        input(class='validate', type='number', name='maxuses', id='maxuses', placeholder='500',required)
        label(for='category') Enter max uses
    .row
      .input-field(class='col s6')
        select(class='validate', name='template', id='template',required)
          if templates
            each template in templates
              if template._id == selectedTemplate
                option(value=template._id, selected="selected",active) #{template.name} (#{template.description.substr(0,20)}...)
              else
                option(value=template._id) #{template.name} (#{template.description.substr(0,20)}...)
        label(for='category') Choose the template
    .row
      .input-field(class='col s3')
        input(class='validate', type='password', name='password', id='password', placeholder='Password', autofocus,required)
        label(for='password') Enter the password
    button(type='submit' name='btn_send' class='col s2 btn waves-effect') Add
      i(class='material-icons right') add
    button(type='cancel' name='btn_cancel' class='col s2 btn waves-effect red'  onclick='window.location="/surveys"') Cancel
      i(class='material-icons right') cancel
  br
  br