extends ../layout

block content
  h1 All Surveys
  h5 Choose one of the surveys...
  .row
    .col(class='s4 m3')
        .card(class='green lighten-5')
          .card-content
            .span(class='card-title') New
            p Create a new survey
          .card-action
            a(href='/survey/new') Add
    for survey in surveys
      .col(class='s4 m3')
        .card
          .card-content
            .span(class='card-title') #{survey.name}
            p #{survey.currentUses}/#{survey.maxUses} Uses
          .card-action
            a(href='/surveys/'+survey.name) Try
            a(href='/survey/'+survey.name) Edit
            a(href='/surveys/'+survey.name+'/delete') Delete
