extends ../surveylayout

block content
  .page-header
    h3 My Test Survey

  .div#surveyContainer
  script#surveyJSON(type='text/javascript')!=survey
  .div#surveyId(class='hiddendiv') #{surveyId}
  input#_csrf(type='hidden', name='_csrf', value=_csrf)