extends layout

block content
  .page-header
    h3 Contact Form
  form(class='col s12', method='POST')
    .row
      .input-field(class='col s6')
        input(class='validate', type='email', name='email', id='email', placeholder='Email', autofocus,required)
        input(type='hidden', name='_csrf', value=_csrf)
        label(for='email') Enter your email
    .row
      .input-field(class='col s6')
        textarea(class='materialize-textarea', type='name', name='name', id='name', placeholder='Name',required)
        label(for='name') Enter your name
    .row
      button(type='submit' name='btn_send' class='col s2 btn waves-effect') Send
        i(class='material-icons right') send