extends layout

block content
  h1 Feather Survey
      p.flow-text
        | Eine weitere Survey Website? Warum?!
  // #More Grid
  .container
    .section.section__more-grid
      // Start of Three
      .row
        h2.center 3 Reasons Right Here
        .col.s12.m12.l4
          .icon-block
            h2.center
              i(class='material-icons right') attach_money
            h5.center Cheap
            p.light
              | Ipsum soluta magnam debitis similique facilis! Illo eius veritatis dolor repudiandae illum consequatur quia quaerat. Sed fugiat sequi a placeat deserunt. Atque possimus pariatur accusantium dolores iusto, quo doloremque alias.
        .col.s12.m12.l4
          .icon-block
            h2.center
              i(class='material-icons right') beach_access
            h5.center Easy to Use
            p.light
              | Ipsum soluta magnam debitis similique facilis! Illo eius veritatis dolor repudiandae illum consequatur quia quaerat. Sed fugiat sequi a placeat deserunt. Atque possimus pariatur accusantium dolores iusto, quo doloremque alias.
        .col.s12.m12.l4
          .icon-block
            h2.center
              i(class='material-icons right') brush
            h5.center Handcrafted
            p.light
              | Ipsum soluta magnam debitis similique facilis! Illo eius veritatis dolor repudiandae illum consequatur quia quaerat. Sed fugiat sequi a placeat deserunt. Atque possimus pariatur accusantium dolores iusto, quo doloremque alias.
  // #Pricing
  #pricing.section.section__pricing.center(class='|')
    .row
      h2.center Pricing
      .col.s12.m12.l6
        .card
          h5 Try it for FREE
          i(class='material-icons') cake
          p.bold Schau dich um. Hab spaß!
          a.btn.btn-large.activator(class='|', href='#!') Details
          // Hidden Pricing/Info Panel
          .card-reveal
            span.card-title
              i(class='material-icons right') arrow_back
              br
              | More information.
            p Beep.
            p.price Beep.
      .col.s12.m12.l6
        .card
          h5 Go Professional
          i(class='material-icons') business
          p.bold Genug mit den Spielereien. Jetzt geht's los!
          a.btn.btn-large.activator(class='|', href='#!') Details
          // Hidden Pricing/Info Panel
          .card-reveal
            span.card-title
              i(class='material-icons right') arrow_back
              br
              |  More information.
            p  Beep. 
            p.price Beep.
  // #FAQ
  #faq.section.section__faq
    .container
      h2.center FAQs
      ul.collapsible.center(data-collapsible='accordion')
        li
          .collapsible-header
            p.flow-text Beep.
          .collapsible-body
            p Beep.
        li
          .collapsible-header
            p.flow-text Beep.
          .collapsible-body
            p Beep.
        li
          .collapsible-header
            p.flow-text Beep.
          .collapsible-body
            p Beep.