doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - by PACKS
    
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/lib/survey.css')
   
    //link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@0.5.10/dist/css/ripples.css')
    //link(rel='stylesheet', href='https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css')
   
    link(rel='stylesheet', href='/materialize/sass/materialize.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/main.css')
  body
    header
      include partials/header
    main
      .container
        include partials/flash
        block content
    footer
      include partials/footer
    script(src='/js/lib/jquery-3.1.1.min.js')

    script(src='/js/lib/survey.jquery.min.js')
    script(src='/js/main.js')
    script(src='/materialize/js/materialize.min.js')

    // Google Analytics: change UA-XXXXX-X dto be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X', 'auto');
      ga('send', 'pageview');
