html {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
  }
  
.myclose {
        position: relative;
        top: -7px;
        color: inherit;
    }
.btn {
  margin: .5%;
}