extends ../layout

block content
  .page-header
    h3 Edit Template
  form(class='col s12', action='/templates/'+template._id, method='POST')
    .row
      .input-field(class='col s6')
        input(class='validate', type='text', name='name', id='name', placeholder='Name', value=template.name, autofocus,required)
        label(for='name') Enter your name
        input(type='hidden', name='_csrf', value=_csrf)
    .row
      .input-field(class='col s6')
        input(class='validate', type='text', name='description', id='description', placeholder='Description', value=template.description)
        label(for='description') Enter the description
    .row
      .input-field(class='col s6')
        input(class='validate', type='text', name='category', id='category', placeholder='Category', value=template.category)
        label(for='category') Enter the Category
    .row
      .input-field(class='col s6')
        textarea(class='materialize-textarea', type='surveyjson', name='surveyjson', id='surveyjson', placeholder='JSON',required) #{template.json.substr(17)}
        label(for='surveyjson') Enter the JSON
    button(type='submit' name='btn_send' class='col s2 btn waves-effect') Save
      i(class='material-icons right') save
    button(type='cancel' name='btn_cancel' class='col s2 btn waves-effect red'  onclick='window.location="/templates"') Cancel
      i(class='material-icons right') cancel
  br
  br