extends ../layout

block content
  .page-header
    h3 Add a new Template
  form(class='col s12', action='/template/new', method='POST')
    .row
      .input-field(class='col s6')
        input(class='validate', type='text', name='name', id='name', placeholder='Name', autofocus,required)
        label(for='name') Template name
        input(type='hidden', name='_csrf', value=_csrf)
    .row
      .input-field(class='col s6')
        input(class='validate', type='text', name='description', id='description', placeholder='Description')
        label(for='description') Enter the description
    .row
      .input-field(class='col s6')
        input(class='validate', type='text', name='category', id='category', placeholder='Category')
        label(for='category') Enter the Category
    .row
      .input-field(class='col s6')
        textarea(class='materialize-textarea', type='surveyjson', name='surveyjson', id='surveyjson', placeholder='JSON',required)
        label(for='surveyjson') Enter the JSON
    button(type='submit' name='btn_send' class='col s2 btn waves-effect') Add
      i(class='material-icons right') add
  button(type='cancel' name='btn_cancel' class='col s2 btn waves-effect red'  onclick='window.location="/templates"') Cancel
    i(class='material-icons right') cancel
  br