extends ../layout

block content
  h1 All Templates
  h5 Choose one of the templates...
  .row
    .col(class='s4 m3')
        .card(class='green lighten-5')
          .card-content
            .span(class='card-title') New
            p Create a new template
          .card-action
            a(href='/template/new') Add
    for template in templates
      .col(class='s4 m3')
        .card
          .card-content
            .span(class='card-title') #{template.name}
            p #{template.description}
          .card-action
            a(href='/survey/new/'+template._id) Use
            a(href='/templates/'+template._id+'') Edit
            a(href='/templates/'+template._id+'/delete') Delete
